<!-- 전체 데이터 목록 보여주는 페이지 -->
{{>layouts/header}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody>

        {{#articleList}}
            <tr>
                <th scope="row">{{id}}</th>
                <td colspan="2"><a href="/articles/{{id}}">{{title}}</a></td>
                <td>{{content}}</td>
            </tr>

        {{/articleList}}

        </tbody>
    </table>
    <a href="/articles/new">New Article</a>
{{#msg}}
    <div class="alert alert-primary alert-dismissible">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{{/msg}}
{{>layouts/footer}}